@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap');
.headerGlobalPosition {
    width: auto;
    display: flex;
}
.headerTop {
    position: fixed;
    top: 0;
    width: 1440px;
    height: 114px;
    transition: all 0.3s ease;
    background-color: transparent;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerTopScrolled {
    height: 80px;
    background-color: rgba(37, 37, 50, 0.5);
}
.navBtnTop {
    width: 100%;
    max-width: 518px;
    height: 100%;
    max-height: 28px;
    margin-left: 241px;
    color: white;
}
.navBtnPosition {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.navBtn {
    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    z-index: 100;
}
.navBtn:hover {
    opacity: 1;
}
.arrowDownHead {
    margin-left: 7px;
    margin-top: 5px;
}

.logoTop {
    width: 101px;
    height: 30px;
}

.decorationHeadPosition {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.spanTopBorder {
    position: relative;
    width: 126px;
    height: 52px;
    margin-left: 241px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-align: center;
    z-index: 10;
    background: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #0CBAF1, #E95CE9) 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    overflow: hidden;
}

.spanTopBorder::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #0CBAF1, #E95CE9);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.spanTopBorder:hover::before {
    opacity: 1;
}

.spanTopBorder:hover {
    color: #fff;
}

