@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap');
.headerTop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 114px;
    transition: all 0.3s ease;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerTopScrolled {
    height: 60px; /* Уменьшаем на 20px */
    background-color: rgba(128, 128, 128, 0.5); /* Серый с 50% прозрачности */
}
.navBtnTop {
    width: 100%;
    max-width: 518px;
    height: 100%;
    max-height: 28px;
    margin-left: 241px;
    color: white;
}
.navBtnPosition {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.navBtn {
    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    z-index: 2;
}
.navBtn:hover {
    opacity: 1;
}
.arrowDownHead {
    margin-left: 7px;
    margin-top: 5px;
}

.logoTop {
    width: 101px;
    height: 30px;
    margin-left: 120px;
}
.spanTopBorder {
    position: relative;
    width: 126px;
    height: 52px;
    margin-left: 241px;
    background: linear-gradient(to right, #0CBAF1, #E95CE9);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}
.spanTopBorder .content {
    width: 124px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background 0.3s ease;
}
.content:hover {
    background-color: rgba(0, 0, 0, 0);
}
.decorationHeadPosition {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

